# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# Whitelisted Plugins
!web/app/plugins/LayerSlider
!web/app/plugins/Ultimate_VC_Addons
!web/app/plugins/advanced-custom-fields-pro
!web/app/plugins/advanced-sidebar-menu
!web/app/plugins/captiva-toolkit
!web/app/plugins/enhanced-e-commerce-for-woocommerce-store
!web/app/plugins/envato-wordpress-toolkit
!web/app/plugins/envato-wordpress-toolkit-master
!web/app/plugins/googleanalytics
!web/app/plugins/js_composer
!web/app/plugins/woocommerce
!web/app/plugins/woocommerce-incremental-product-quantities
!web/app/plugins/woocommerce-gateway-paypal-advanced
!web/app/plugins/woocommerce-shipping-per-product
!web/app/plugins/woocommerce-table-rate-shipping
!web/app/plugins/woosidebars
!web/app/plugins/woothemes-updater
!web/app/plugins/wordpress-seo
!web/app/plugins/wp-retina-2x
!web/app/plugins/yith-woocommerce-ajax-navigation
!web/app/plugins/yith-woocommerce-ajax-search
!web/app/plugins/yith-woocommerce-wishlist

# WordPress
web/wp
web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

/.ac-php-conf.json
