// Fonts
// =================================================
$base-font:         'Source Sans Pro', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$header-font:       $base-font;
$ms-base:           1em, 0.875em;
$ms-ratio:          1.618;

// Colors
// =================================================
$white: #fff;
$black: #000;
$primary: #153FA6;

$blue-light: #169fda;
$blue-mid: #1277A3;
$blue-dark: #0E5371;

$red: #D95426;
$green: #129948;

// these colors are the storefront default
$body-background:   #ffffff;
$color_body:        #43454b;
$color_links:       #2c2d33;
$color_border:      rgba( 0, 0, 0, 0.05 );
$color_woocommerce: #96588a;
$error:             #e2401c;
$success:           #0f834d;
$info:              #3d9cd2;

// layout sizes
$desktop:           768px;
$handheld:          568px;
$container-width:   (90 * 12) * 1px;

// susy
$susy: (
  columns: 12,
  gutters: 1,
  math: fluid,
  output: float,
  gutter-position: after,

  use-custom: (
    box-sizing: false
  )
);

// animate-sass
$use-all: true;
