# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# Custom Plugin Whitelist
# This is for custom site plugins and other plugins that are not available through composer.
!web/app/plugins/advanced-custom-fields-pro
!web/app/plugins/storefront-footer-bar
!web/app/plugins/woocommerce-min-max-quantities
!web/app/plugins/woocommerce-shipping-per-product
!web/app/plugins/woocommerce-gateway-paypal-advanced
!web/app/plugins/woocommerce-gateway-paypal-pro
!web/app/plugins/redirection

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# Emacs
.ac-php-conf.json
