// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/susy/sass/_susy.scss";
@import "../../bower_components/modular-scale/stylesheets/_modular-scale.scss";
// endbower

// import the Storefront sass files from parent theme.
@import "../../../storefront/assets/sass/utils/mixins";
@import "../../../storefront/assets/sass/utils/variables";

@include susy-media($desktop){
    .top-bar {
        padding: ms(0.5);

        .accepted-payment-logos {
            @include clearfix;
            float: left;
            margin-right: ms(2);
        }

        .site-message {
            float: left;
        }
    }

    .accepted-payment-logos {
        img {
            float: left;
            margin-right: ms(0.5);

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

