<div class="homepage-hero">
  <img src="/app/uploads/2014/12/problem-solution-graphic.png" alt="">
  <div class="homepage-hero__first-line">"Control" your shower curtain so your bathroom "Stays Dry"!</div>
  <div class="homepage-hero__second-line">Keep your bathroom floors</div>
  <div class="homepage-hero__thrid-line">Clean, Dry & Safe</div>
  <ul class="homepage-hero__benefit-list">
    <li>Prevent Mold and mildew</li>
    <li>Reduce housework</li>
    <li>Avoid costly repairs</li>
  </ul>
</div>
